<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.productdemo.mapper.StoreApiIntuitMapper">
    <resultMap id="BaseResultMap" type="com.example.productdemo.entity.po.StoreApiIntuit">
        <id column="realmId" property="realmId" jdbcType="VARCHAR"/>
        <result column="authCode" property="authCode" jdbcType="VARCHAR"/>
        <result column="access_token" property="access_token" jdbcType="VARCHAR"/>
        <result column="refresh_token" property="refresh_token" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        realmId, authCode, access_token, refresh_token
    </sql>

    <insert id="insert" parameterType="com.example.productdemo.entity.po.StoreApiIntuit">
        INSERT into intuit(realmId,authCode,access_token,refresh_token)
        VALUE
        (#{realmId,jdbcType=VARCHAR},
         #{authCode,jdbcType=VARCHAR},
          #{access_token,jdbcType=VARCHAR},
          #{refresh_token,jdbcType=VARCHAR})
    </insert>
</mapper>